@model List<IFormFile>

<form asp-controller="CarImage" asp-action="Add" method="post" enctype="multipart/form-data">
    <input type="file" name="photos" multiple accept="image/*" />
    <button type="submit">Upload</button>
</form>
