@{
    ViewData["Title"] = "Error";
}
<style>
    .row {
        background-color: #FF991F;
    }
</style>

<div class="row text-center pb-5">

    <div class="col-12">
        <img src="../ErrorImages/errorImage1.png" alt="Alternative image" class="img-fluid p-0">
        <div class="h3 navbar-brand-custom">
            <p>Oops, better check that URL. Page was not found.</p>
        </div>
        <div class="h4 navbar-brand-custom mb-5"> Go back to <a asp-controller="Home" aspaction="Index">Home</a> Page</div>
    </div>
</div>
