@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="p-5">
    <h1 class="text-danger display-1 navba fw-bold">Error.</h1>
    <h2 class="text-danger display-4">An error occurred while processing your request.</h2>
    <br />
    <br />
    <br />
    <br />
    <div class="text-left h4"> Go back to <a asp-controller="Home" asp-action="Index">Home</a></div>
</div>

