@using Microsoft.AspNetCore.Identity
@using RoadMateSystem.Data.Models;
@using RoadMateSystem.Services.Data.Interfaces;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IUserService UserService;

@{
    string userName = await UserService.GetFullNameByEmailAsync(User.Identity?.Name!);
}

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
            <a class="nav-link text-warning" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello, @userName</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link btn-danger">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
            <a class="nav-link text-warning btn btn-outline-light me-2" asp-area="" asp-controller="User" asp-action="Login">Login</a>
    </li>
    <li class="nav-item">
            <a class="nav-link text-dark btn btn-warning" asp-area="" asp-controller="User" asp-action="Register">Register</a>
    </li>
}
</ul>
